* {

    font-family: "JetBrainsMonoNL Nerd Font Mono";
    font-size: 28px;

}

window {

    background:                     #ccc;

    border-top:         solid   2px #fff;
    border-left:        solid   2px #fff;
    border-bottom:      solid   2px #777;
    border-right:       solid   2px #777;

}

#input {

    margin:                     5px;
    background:                     #ccc;

    border-top:         solid   2px #fff;
    border-left:        solid   2px #fff;
    border-bottom:      solid   3px #999;
    border-right:       solid   3px #999;
    
    border-radius:              0px;

}

#input:focus {


    border-top:         solid   3px #777;
    border-left:        solid   3px #777;
    border-bottom:      solid   2px #fff;
    border-right:       solid   2px #fff;

    box-shadow: none;

}

#entry {
    
    margin:                     0px 9px;

    border-bottom:       solid  1px #777;
    
    border-radius:              0px;
}

#entry:selected {
    
    background:                     #bbb;

    border-top:         solid   1px #999;
    border-left:        solid   2px #999;
    border-bottom:      solid   1px #777;
    border-right:       solid   2px #fff;

    box-shadow: inset   0px -2px 1px #fff;

}